# Supabase
# Supabase 대시보드 > Settings > API 에서 복사
NEXT_PUBLIC_SUPABASE_URL=https://fdqwfhmocrejdrrovlgp.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_jw5WsKZUqX4LRiP2XDl_IQ_rr8AcQqy

# (선택) 프로필 이미지를 Cloudinary로 관리할 경우
# NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your-cloud-name
# CLOUDINARY_API_KEY=your-api-key
# CLOUDINARY_API_SECRET=your-api-secret
